@import './macros';

$text-bright: var(--linen);
$text-dark: var(--granite);

$col-1: var(--rose-ebony);
$col-2: var(--rose-dust);
$col-3: var(--gold);
$col-4-contrast: $text-bright;
$col-4: var(--forest-green-traditional);
$col-5-contrast: $text-bright;
$col-5: var(--oxford-blue);
