@import './macros';

$text-bright: var(--white);
$text-dark: var(--granite);

$col-1: var(--space-cadet);
$col-2: var(--independence);
$col-3: var(--heliotrope-gray);
$col-4-contrast: $text-dark;
$col-4: var(--silver-pink);
$col-5-contrast: $text-dark;
$col-5: var(--isabelline);
