@import './macros';

$text-bright: var(--white);
$text-dark: var(--granite);

$col-1: var(--ming);
$col-2: var(--middle-blue-green);
$col-3: var(--alice-blue);
$col-4: var(--unbleached-silk);
$col-4-contrast: $text-dark;
$col-5: var(--dark-salmon);
$col-5-contrast: $text-bright;
