@use './master';

.site-title {
  background-size: cover;
  height: 95vh;
  max-height: 95vh;
  transition: max-height 1s ease-out;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  cursor: pointer;

  .site-background {
    margin-top: 35vh;
    text-align: center;
    color: master.$text-regular-2;
    transition: margin-top 1s ease-out;

    h1,h3 {
      text-shadow: 0 1px 5px black;
    }

    h1 {
      font-size: 6rem;
    }
    h3 {
      font-size: 2rem;
    }
  }
}

.tiles-wrap {
  position: relative;
  z-index: 0;
  .card-container {
    min-width: 30vh;
    position: relative;

    @include master.nav-colorset();
    .description {
      padding: 20px 10px 10px 10px;
    }

    p {
      font-size: 16px;
      line-height: 18px;
      color: master.$text-regular-2;
      margin-top: 5px;
    }

    .title {
      padding: 10px;
      @include master.nav-colorset-alt();
      transition: all 0.2s ease-in-out;
      &.inactive {
        opacity: 0.8;
      }

      p {
        color: master.$col-5-contrast;
      }
    }

    &:hover {
      .title {
        color: master.$col-4-contrast;
        background: master.$col-4;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      z-index: -1;
      transform: skew(-2deg, -2deg);
      background: master.$col-3;
    }
  }
}
