@use './master';

button.nav-items.btn.login-btn.btn-primary {
  box-shadow: none !important;
  background: inherit !important;
  border-radius: 0px !important;
  transition: none !important;
  color: master.$nav-color !important;

  div, svg {
    background: inherit !important;
  }

  &:hover {
    background: master.$nav-background-hover !important;
    color: master.$nav-color-hover !important;
  }
}
