@import '../../master';

.chunky-width {
  min-width: 400px;
}

/* ----------- !CARDS ----------- */

.error-strip {
  padding: 5px;
  margin: 5px;
  background-color: red;
}

.warning-strip {
  position: fixed;
  top: 120px;
  width: 100%;
  z-index: 100;
}
