:root {
  /* Theme colours */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;
  --ochre: #ffa69e;
  --citrus: #faf3dd;
  --teal: #b8f2e6;
  --grayteal: #aed9e0;
  --granite: #5e6472;

  /* gradient color */
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  /* theme font-family */
  --Abel: "Abel", cursive;
  --Anton: "Anton", cursive;
  --Josefin: "Josefin Sans", cursive;
  --Lexend: "Lexend Deca", cursive;
  --Livvic: "Livvic", cursive;
}

a {
  text-decoration: none;
  color: var(--text-gray);
}

h1 {
  font-family: var(--Lexend);
  font-size: 2.5rem;
}

h2 {
  font-family: var(--Lexend);
}

h3 {
  font-family: var(--Abel);
  font-size: 1.3rem;
}

button.btn {
  color: var(--granite);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--grayteal);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

button.btn:hover {
  background: var(--granite);
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

button.btn:active,
button.btn:focus,
button.btn.active {
  color: #ffffff;
  background-color: var(--granite) !important;
  border-color: var(--granite);
  box-shadow: none;
}
.btn-group button.btn {
  padding: 10px 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

html,
body {
  margin: 0%;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* navbar */

.nav {
  background: white;
}

/* navbar icons icons */
.nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
  color: var(--text-gray);
}

.nav .nav-link {
  font-size: 1.1rem;
  font-family: var(--Abel);
}

.nav .category {
  font-size: 1rem;
  color: black;
  font-family: var(--Abel);
}

.nav .nav-items .nav-link:hover {
  background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover {
  color: var(--white);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  font-family: var(--Abel);
}

/* !navbar */

/* site content */

.sidebar {
  position: sticky;
  top: 80px;
}

.site-content .sidebar .category-list {
  font-family: var(--Livvic);
}

.sidebar.category-list {
  padding: 0 0 0 20px;
}

.site-content .sidebar .category-list .list-items {
  background: var(--sky);
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  /* width: 70%; */
  display: flex;
  justify-content: space-between;
}

.site-content .sidebar .category-list .list-items a {
  color: black;
}

/* !site content */

.chunky-width {
  min-width: 400px;
}

main .site-title .btn {
  margin: 1.8rem;
  background: var(--sky);
}

.site-title {
  background: url("../../images/mini.png");
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.site-title .site-background {
  padding-top: 10rem;
  text-align: center;
  color: black;
}

.site-title h1,
h3 {
  margin: 0.3rem;
}

/* ------------ CARDS ----------- */

/* card details start  */
section {
  padding: 10px 30px;
}
.details-card {
  background: #ecf0f1;
}

.card-content {
  background: #ffffff;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

.card-img img {
  width: 100%;
  height: auto;
  display: block;
}

.card-img span {
  position: absolute;
  top: 10%;
  left: 10%;
  background: #1abc9c;
  padding: 6px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%, -50%);
}
.card-img span h4 {
  font-size: 12px;
  margin: 0;
  padding: 10px 5px;
  line-height: 0;
}
.card-desc {
  padding: 1.25rem;
}

.card-desc h3 {
  color: #000000;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.card-desc p {
  color: #747373;
  font-size: 14px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  font-family: var(--Abel), sans-serif;
}
.btn-card {
  background-color: #1abc9c;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0.84rem 2.14rem;
  font-size: 0.81rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
}
.btn-card:hover {
  background: orange;
}
a.btn-card {
  text-decoration: none;
  color: #fff;
}
/* End card section */

/* ----------- !CARDS ----------- */

.error-strip {
  padding: 5px;
  margin: 5px;
  background-color: red;
}

.warning-strip {
  position: fixed;
  top: 120px;
  width: 100%;
  z-index: 100;
}
