@import '../../master';


.site-title {
  background: url("../../images/main_1.jpeg");
  background-size: cover;
  height: 85vh;
  max-height: 85vh;
  transition: max-height 1s ease-out;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  .site-background {
    margin-top: 35vh;
    text-align: center;
    color: black;
    transition: margin-top 1s ease-out;
  }

  h1,
  h3 {
    margin: 0.3rem;
  }
}
