/* navbar */

.nav {
  background: white;
}

/* navbar icons icons */
.nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
  color: var(--text-gray);
}

.nav .nav-link {
  font-size: 1.1rem;
  font-family: var(--Abel);
}

.nav .category {
  font-size: 1rem;
  color: black;
  font-family: var(--Abel);
}

.nav .nav-items .nav-link:hover {
  background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover {
  color: var(--white);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  font-family: var(--Abel);
}

/* !navbar */