@use '../../master' as *;

button.nav-items.btn.login-btn.btn-primary {
  box-shadow: none !important;
  background: inherit !important;
  border-radius: 0px !important;
  transition: none !important;
  color: $nav-color !important;


  div, svg {
    background: inherit !important;
  }

  &:hover {
    background-color: $nav-background-hover !important;
    color: $nav-color-hover !important;
  }
}
