@import "./styles/style4";

$background: var(--white);
$background-2: $col-1;

$outline: $col-1;

$btn-background: $text-bright;
$btn-colour: $text-dark;
$btn-hover-background: $col-2;
$btn-hover-colour: $text-bright;
$btn-active-background: $col-1;
$btn-active-colour: $text-bright;

$text-regular: var(--black);
$text-regular-2: var(--white);

$font-large: var(--Lexend);
$font-medium: var(--Abel);
$font-small: var(--Abel);

html,
body {
  margin: 0%;
  box-sizing: border-box;
  padding-top: 41px;
  padding-bottom: 41px;
  font-family: $font-small;
}

a {
  text-decoration: none;
  color: $text-regular;
}

h1 h2 {
  font-family: $font-large;
}

h3 {
  font-family: $font-medium;
}

button.btn.btn-primary {
  color: $btn-colour;
  text-transform: uppercase;
  text-decoration: none;
  background: $btn-background;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid black;
  border-color: $outline;
  transition: all 0.4s ease 0s;
}

.show > .btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled):hover,
.btn-primary:not(:disabled):not(.disabled).hover {
  color: $btn-hover-colour;
  background-color: $btn-hover-background;
  border-color: $btn-hover-background;
  box-shadow: none;
  transition: all 0.4s ease 0s;
  border-color: $outline;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active {
  color: $btn-active-colour;
  background-color: $btn-active-background;
  border-color: $btn-active-background;
  box-shadow: none;
  transition: all 0.4s ease 0s;
  border-color: $outline; 
}

.btn-group button.btn.btn-primary {
  padding: 10px 10px;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;

  }
}
