@import "./styles/style4";

$background: var(--white);
$background-2: $col-1;

$outline: $col-3;

$radial-grad: radial-gradient($col-2, $col-1);
$radial-grad-white: radial-gradient( #FFFFFF, $col-5);

$btn-background: inherit;
$btn-colour: $text-bright;
$btn-hover-background: $col-4;
$btn-hover-colour: $text-dark;
$btn-active-background: $col-5;
$btn-active-colour: $text-dark;

$text-regular: var(--black);
$text-regular-2: var(--white);

$font-large: var(--Lexend);
$font-medium: var(--Abel);
$font-small: var(--Abel);

html,
body {
  background: $background;
  margin: 0%;
  box-sizing: border-box;
  padding-top: 41px;
  padding-bottom: 41px;
  font-family: $font-small;
}

a {
  text-decoration: none;
  color: $text-regular;
}

h1 h2 {
  font-family: $font-large;
}

h3 {
  font-family: $font-medium;
}

button.btn.btn-primary,
a.btn.btn-primary {
  color: $btn-colour;
  text-transform: uppercase;
  text-decoration: none;
  background: $btn-background;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid black;
  border-color: $outline;
  transition: all 0.4s ease 0s;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled).focus {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background: inherit;
  // border-radius: 0;
  display: inline-block;
  // border: 1px solid black;
  border-color: inherit;
  box-shadow: none;
}

.show > .btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled):hover,
.btn-primary:not(:disabled):not(.disabled).hover {
  color: $btn-hover-colour;
  background-color: $btn-hover-background;
  border-color: $btn-hover-background;
  box-shadow: none;
  transition: all 0.4s ease 0s;
  border-color: $outline;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active {
  color: $btn-active-colour;
  background-color: $btn-active-background;
  border-color: $btn-active-background;
  box-shadow: none;
  transition: all 0.4s ease 0s;
  border-color: $outline;
}

.btn-group button.btn.btn-primary,
.btn-group a.btn.btn-primary {
  padding: 10px 10px;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.box-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }

  .box {
    background: $radial-grad;
    color: $text-regular-2;
    width: 100%;
    padding: 5px;
    border: 2px solid $col-4;
    &:before {
      left: 5px;
    }
    &:after {
      right: 5px;
    }
    .box-inner {
      position: relative;
      border: 2px solid $col-4;
      padding: 40px;
      &:before, &:after {
        content: "•";
        position: absolute;
        width: 14px;
        height: 14px;
        font-size: 14px;
        color: $col-5;
        border: 2px solid $col-4;
        line-height: 12px;
        bottom: -2px;
        text-align: center;
      }
      &:before {
        left: -2px;
      }
      &:after {
        right: -2px;
      }
    }
  }
}

/* navbar */

$nav-background: $radial-grad;
$nav-color: $text-bright;
$nav-background-hover: $col-5;
$nav-color-hover: $text-dark;

.nav {
  background: $nav-background;
  // border-bottom: 1px solid $nav-background-hover;
  .nav-link {
    font-size: 1.1rem;
  }

  .category {
    font-size: 1rem;
    color: black;
  }

  .nav-items .nav-link,
  .nav-items .show .navbar-nav,
  .navbar-light .navbar-nav .show > .nav-link,
  .nav-items .nav-item .nav-link:focus,
  .nav-items .nav-item .nav-link:hover,
  .nav-items .nav-item .nav-link:active,
  .navbar-text,
  .nav-brand {
    background-color: $nav-background;
    color: $nav-color;
    a {
      color: $nav-color;
    }
    &:hover {
      background-color: $nav-background-hover;
      color: $nav-color-hover;
      a {
        color: $nav-color-hover;
      }
    }
  }

  .dropdown-menu {
    background: $nav-background;
    color: $nav-color;
    .dropdown-item {
      background: transparent;
      color: inherit;
      &:active, :hover {
        background-color: $nav-background-hover;
        color: $nav-color-hover;
      }
    }
  }

  .nav-brand a {
    font-size: 1.6rem;
  }

  button.btn.btn-primary,
  a.btn.btn-primary,
  .btn-primary:not(:disabled):not(.disabled):focus,
  .btn-primary:not(:disabled):not(.disabled).focus {
    color: $nav-color;
    background: transparent;
    border-color: $nav-color;
    box-shadow: none;
    border: none;
    transition: none;
    border-radius: 0;
  }

  .show > .btn-primary.dropdown-toggle,
  .btn-primary:not(:disabled):not(.disabled):hover,
  .btn-primary:not(:disabled):not(.disabled).hover,
  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active {
    color: $nav-color-hover;
    background: $nav-background-hover;
    border-color: $nav-color-hover;
    box-shadow: none;
    border: none;
    transition: none;
  }

  .btn-group button.btn.btn-primary,
  .btn-group a.btn.btn-primary {
    padding: 10px 10px;
  }
}

/* !navbar */

.chunky-width {
  min-width: 400px;
}

/* ----------- !CARDS ----------- */

.warning-strip {
  position: fixed;
  top: 120px;
  width: 100%;
  z-index: 100;
}

// 1030 is z-index of bootstrap "fixed" components, so 1031 to overlay it
.cookie-consent-container {
  z-index: 1031 !important;
}

.cookie-consent-overlay {
  z-index: 1031 !important;
}
