@use '../../master' as *;

.site-title {
  background-size: cover;
  height: 85vh;
  max-height: 85vh;
  transition: max-height 1s ease-out;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  cursor: pointer;

  .site-background {
    margin-top: 35vh;
    text-align: center;
    color: $text-regular-2;
    transition: margin-top 1s ease-out;

    h1,h3 {
      text-shadow: 0 1px 5px black;
    }

    h1 {
      font-size: 6rem;
    }
    h3 {
      font-size: 2rem;
    }
  }
}

.tiles-wrap {
  // margin: 50px auto;

  .card-container {
    min-width: 30vh;
    // min-height: 25vh;
    background: $radial-grad;

    .description {
      padding: 20px 10px 10px 10px;
    }

    p {
      font-size: 16px;
      line-height: 18px;
      color: $text-regular-2;
      margin-top: 5px;
    }

    .title {
      padding: 10px;
      color: $col-5-contrast;
      background-color: $col-5;
      border-bottom: solid 1px $col-3;
      transition: all 0.2s ease-in-out;
      &.inactive {
        opacity: 0.8;
      }

      p {
        color: $col-5-contrast;
      }
    }

    &:hover {
      .title {
        color: $col-4-contrast;
        background-color: $col-4;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      z-index: -1;
      background: #fff;
    }

    &:before {
      transform: skew(-2deg, -2deg);
      background: $col-3;
    }

    // &:nth-child(2n):before {
    //   transform: skew(2deg, 2deg);
    //   background: $col-3
    // }

    // &:nth-child(2n+1):before {
    //   transform: skew(-2deg, -2deg);
    //   background: $col-3;
    // }
  }
}
